*{
 box-sizing: border-box;
}

html, body {
 height: 100%;
 margin: 0;
}

#main {
    height: 100%;
     display: flex;
     flex-direction: column;
}

#pic {
  height: 50%;
  width: 100%;
  object-fit: contain;
}

#button {
  font-size: 5em;
}

#guess {
   font-size: 5em;
}

.pic1 {
  clip-path: polygon(0 0, 50% 0, 50% 50%, 0 50%);
}

.pic2 {
   clip-path: polygon(50% 0%, 50% 50%, 100% 50%, 100% 100%, 50% 100%, 50% 100%, 50% 50%, 0 50%, 0 0);
}

.pic3 {
   clip-path: polygon(50% 0%, 50% 50%, 100% 50%, 100% 100%, 50% 100%, 50% 100%, 0 100%, 0 50%, 0 0);
}

.pic4 {
   clip-path: none;
}